<div class="acupuncture-service-page">
	<div class="what-is-acupuncture padding-tb" id="what-is-acupuncture">
		{% set page = post.meta('what_is_acup') %}
		<div class="container">
			<h2 class="center">{{page.title}}</h2>
			<div class="content center">{{page.desc}}</div>
			<div class="key-areas">
				{% for key in page.key_areas %}
					<div class="key-area center">
						<div class="logo">
							{{ function('file_get_contents', Image(key.logo).src) }}
						</div>
						<h3 class="center">{{key.title}}</h3>
					</div>
				{% endfor %}
			</div>
		</div>
	</div>

	<div class="conditions-treats" id="conditions-treats">
		{% set page = post.meta('conditions') %}
		<div class="container padding">
			<h2 class="center">{{page.title}}</h2>
			<div class="content center">{{page.description}}</div>
			<div class="conditions-list">
				{% for list in page.conditions_list %}
					<div class="list">
						<div class="logo">{{ function('file_get_contents', Image(list.logo).src) }}</div>
						<h3 class="h5">{{list.title}}</h3>
					</div>
				{% endfor %}
			</div>
		</div>
	</div>

	<div class="benefits-of-acupuncture padding-top" id="benefits-of-acupuncture">
		{% set page = post.meta('benefits') %}
		<div class="container">
			<h2 class="center">{{page.title}}</h2>
			<div class="content center">{{page.description}}</div>
			<div class="conditions-list">
				{% for list in page.benefits_list %}
					<div class="list">
						<h3 class="h5">{{list.title}}</h3>
						<div class="content">{{list.desc}}</div>
					</div>
				{% endfor %}
			</div>
			<div class="tagline h5">{{page.section_tagline}}</div>
		</div>
	</div>
</div>
