<div class="booking-details center padding">
    <h2>{{book.title}}</h2>
    <div class="content">{{book.description}}</div>
    <div class="btns">
        <a href="{{book.button_1.link}}" class="custom-btn">{{book.button_1.name}}</a>
        <a href="{{book.button_2.link}}" class="custom-btn">{{book.button_2.name}}</a>
    </div>
</div>