{% extends "base.twig" %}
{% block content %}
	<div class="content-wrapper">
		<article class="post-type-{{post.post_type}} padding" id="post-{{ post.ID}}">
			<section class="article-content container">
				<div class="article-details" data-aos="fade-in">
					<h2>{{post.title}}</h2>
					<div class="time-read">
						<p class="date">{{ post.date|date('F j, Y')}}</p>
						{% set wordCount = post.meta('news_content')|split(' ')|length %}
						{% include 'partials/read.twig' %}
					</div>
					<div class="break-line"></div>
					<div class="share-story">
						{% include 'partials/share.twig' %}
					</div>
					<div class="btn">
						<a class="custom-btn" href="/news-insight/" aria-label="back-btn">Back to news &amp; insights</a>
					</div>
				</div>
				<div class="article-body" data-aos="fade-in">
					{% if post.thumbnail.src is not empty %}
						<img src="{{ post.thumbnail.src}}" alt="feature-image"/>
					{% else %}
						<img src="{{ site.theme.link}}/static/images/placeholder.jpg" alt="placeholder-image"/>
					{% endif %}
					{{post.meta('news_content')}}
				</div>
			</section>

			<section class="similar-news padding-top" id="similar-news">
				<div class="container">
					<h2>Similar News & Insights</h2>
					<div class="similar-news-list">
						{% for type1 in post.news_type %}
							{% for news in news %}
								{% for type2 in news.news_type %}
									{% if type1 == type2 %}
										<div class="news-result-div">
											<h2>{{news.title}}</h2>
											<div class="image-section">												
												{% if news.thumbnail.src is not empty %}
													<img src="{{Image(news.thumbnail).src}}" alt=""/>
												{% else %}
													<img src="{{ site.theme.link}}/static/images/placeholder.jpg" alt="placeholder-image"/>
												{% endif %}
											</div>
											<div class="content">
												{{news.meta('news_content')|excerpt}}
											</div>
											<div class="btn">
												<a href="{{news.link}}" class="reverse-btn" aria-label="{{news.title}}">Learn More</a>
											</div>
										</div>
									{% endif %}
								{% endfor %}
							{% endfor %}
						{% endfor %}
					</div>
				</div>
			</section>

		</article>
	</div>
{% endblock %}
